/* These are comments in CSS. */

/* Body */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  /* we want a white page, that's centered and not too wide */
  /*background-color: #fff;*/
  margin:0 auto;
  /*max-width: 800px;*/
  /*padding-top: 60px;*/
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* Class: header1 */
.main-navigation {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(85, 100, 161, 0.7),rgba(85, 100, 161, 0.7)),url(lse_background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}
